<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 ">
            <button mat-raised-button color="accent" routerLink="/product/add">Add Product</button>
            <button mat-raised-button color="primary" (click)="EditProduct()" >Edit Product</button>
            <button mat-raised-button color="primary" (click)="refresh()" >Refresh</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4 ">
            <ag-grid-angular 
            class="ag-theme-alpine"
            [rowData]="rowData" [columnDefs]="colDefs"
            [rowSelection]="'multiple'"
            [animateRows]="true">
            </ag-grid-angular>
        </div>
    </div>
    <div class="row">
        {{rowData | json}}
    </div>
</div>

