<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4 ">
            <button mat-raised-button color="accent" routerLink="/product/add">Add Product</button>
            <button mat-raised-button color="primary" 
            [disabled]="this.grid?.api.getSelectedRows().length &lt; 1" 
            (click)="EditProduct()" >Edit Product</button>
            <button mat-raised-button color="warn" type="button"
            (click)="deleteProduct()"
             >Delete Product</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mt-4 ">
            <ag-grid-angular 
            class="ag-theme-alpine"
            [rowData]="rowData" [columnDefs]="colDefs"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            [pagination]="true"
            [paginationPageSize]="10">
            </ag-grid-angular>
        </div>
    </div>
</div> 
  