<div class="container">
    <div class="row">
        <div *ngFor="let product of products" class="mt-3 col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" [src]="product.image">
                <div class="card-body">
                  <h2 class="card-title">{{product.name}}</h2>
                  <button [disabled]='product.availableQuantity==0'class="btn btn-primary" (click)="addToCart(product)">
                    {{product.availableQuantity==0? "Out Of Stock" : "Add to "}}
                    <mat-icon *ngIf="product.availableQuantity >0">shopping_cart</mat-icon>
                  </button>
                </div>
              </div>
        </div>
    </div>
    </div>
    
