<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="offset-md-1 mt-4" *ngIf="(shoppingList | async).cart?.length ==0">
            <img class="emptycart"
             src="https://mir-s3-cdn-cf.behance.net/projects/404/95974e121862329.Y3JvcCw5MjIsNzIxLDAsMTM5.png" />
          </div>
            <table *ngIf="(shoppingList | async).cart?.length> 0"class="table">
              <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Total per Item</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of (shoppingList | async).cart">
                    <th scope="row"></th>
                    <td>
                        <img [src]="item.image" class="img-fluid">
                    </td>
                    <td>{{item.name}}</td>
                    <td>
                      <button  class="minus" mat-mini-fab color="accent" (click)="minus(item.id)">
                       -
                      </button>
                      {{item.quantity}}
                      <button class="plus"mat-mini-fab color="accent" (click)="plus(item.id)">
                        +
                      </button>
                    </td>
                    <td>{{item.price}}</td>
                    <td>{{item.price * item.quantity}}</td>
                    <td>
                      <button class="delete" (click)="delete(item.id)" mat-mini-fab color="warn" >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
